<!doctype html>
<html lang="en">
<head>

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    	
	<title></title>

        <link rel="stylesheet" href="../webtoon/webtoon.component.css">
	
</head>

<body>
 
  <main>
      <div class="about-section">
          <div class="inner-container">
              <h2>Summary</h2>
              <p class="text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
              enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor 
              in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
              sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
              <div class="read">
              <a type='button' class="button" routerLink="/readwebtoon">Start Reading</a>
              </div>
          </div>
      </div>
  </main>

<!--Chapters-->
  <div class="container">
    <div class="left-side">
        <a [routerLinkActive]="'active'" routerLink="/admin-webtoon">+ Upload Chapters</a>
      </div>
    <div class="row">
        <div class="col-md-12" style="color: gray;">
            <h1 class="h3 mb-3 fw-normal">Chapters (no. of chapters)</h1>
            <table class="table table-striped table-responsive">
            <thead>
              <tr>
              <th scope="col" style="color: white;">Title</th>
              <th scope="col" style="color: white;">Date Posted</th>
              </tr>
          </thead>

          <tbody>
              <!--PHP routine to Display Data
              <?php
              include_once("config1.php");
                  $result = mysqli_query($mysqli, "SELECT * FROM tblcomments ORDER BY id DESC");
                  while($res = mysqli_fetch_array($result)) {
                    echo "<tr>";
                       echo "<td>".$res['Comment']."</td>";
                    echo "<td>".$res['PostedDate']."</td>";
                    echo "<tr>";
                  }

            ?>-->
          </tbody>

          </table>
        </div>
    </div>	
</div>



</body>
</html>

<!--<!doctype html>
<html lang="en">
<head>

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">	
	<title></title>

	
</head>

<body>
<section class="py-2 AboutContainer" style="height:110vh; margin-top:10px; padding:10px;">
    <div class="container">
        <div class="row">

            <div class="col-md-8">
                <div class="card shadow-sm">
                <img src="assets/webtoonpics/manga.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                  <h1 class="display-7">(Title Here)</h1>
                  <figure>
                      <blockquote class="blockquote">
                          <p style="text-align: justify; text-justify: inter-word; color: white;">
                            The world stood on the brink of destruction. Decades of unchecked exploitation, 
                            rampant consumerism, and a collective disregard for the environment had finally caught up with 
                            humanity. The consequences of climate change had escalated beyond imagination, rendering the future 
                            a bleak and desolate wasteland.

                            Amidst the chaos, five unlikely individuals emerged as unwitting architects of this impending 
                            disaster. Each one, in their own way, had contributed to the degradation of the planet, 
                            ignorant of the consequences that would haunt future generations. 
                            
                            Together, they would confront their own worst selves and grapple with the profound question of 
                            whether redemption was possible. As they raced against time, they would not only rewrite their 
                            own history but also reshape the destiny of humanity itself, hoping to ensure a future where 
                            the mistakes of the past were never repeated.This educational comic book is 
                            designed to help young people better understand the effects of climate change and explore 
                            ways to make a positive impact.
                          </p>
                      </blockquote>
                      <div class="col-md-4">
            
                <div class="row" style="background:transparent; padding:10px;radius:10px;">
                  
                      <div class="d-grid gap-2">
                          <a type='button' class="btn btn-lg btn-primary" routerLink="/readwebtoon">Read Here</a>
                      </div>
                  
              </div>

            </div>
                  </figure>
                  </div>
            </div>
            </div>

            

        </div>
    </div>
</section>-->