<header>
  <div class="parallax-div1">
    <img
      class="parallax-1"
      src="assets/landing-page/CC1.png"
      alt="Temporary parallax image"
    />
  </div>
  <div class="parallax-div2-text">
    <p>Protect the Earth,</p>
    <div class="pd2t-sof">
     <p>Secure our Future</p> 
    </div>
    
  </div>
</header>
<body>
  <section>
    <div class="what-can-you-do">
        <div class="wcyd-sub-div-1">
          <div class="wcyd-sub-sub-div-1">
            <p>A</p>
            <p>Sustainable</p>
            <p>Path</p>
            <p>Forward</p>
          </div>

          <div
          class="earth"
          data-aos="fade-down-left"
          data-aos-duration="1500"></div>
        </div>
        
      <div class="wcyd-sub-div-2">
        <div class="tile1">
          <h2>Keep fossil fuels in the ground</h2>
          <p>Fossil fuels include coal, oil and gas – 
            and the more that are extracted and burned, 
            the worse climate change will get. 
            All countries need to move their economies 
            away from fossil fuels as soon as possible.</p>
        </div>
        <div class="tile2">
          <h2>Protect forests like the Amazon</h2>
          <p>Forests are crucial in the fight against 
            climate change, and protecting them is an 
            important climate solution. Cutting down 
            forests on an industrial scale destroys giant 
            trees which could be sucking up huge amounts 
            of carbon. </p>
        </div>
        <div class="tile3">
          <h2>Invest in renewable energy</h2>
          <p>Changing our main energy sources to clean and 
            renewable energy is the best way to stop using 
            fossil fuels. These include technologies like 
            solar, wind, wave, tidal and geothermal power.</p>
        </div>
        <div class="tile4">
          <h2>Switch to sustainable transport</h2>
          <p>Petrol and diesel vehicles, planes and ships 
            use fossil fuels. Reducing car use, switching 
            to electric vehicles and minimising plane 
            travel will not only help stop climate change, 
            it will reduce air pollution too.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="div-parallax-3">
      <img
        class="parallax-3"
        src="assets/landing-page/CC3.png"
        alt="temporary"
      />
    </div>
  </section>

<section>
    <div class="three-projects-container-exp">
        <div class="webtoon-exp hover-effect">
          <img
            class="webtoon-img"
            src="assets/landing-page/temp/bg_interactive_example.png"
            alt=""
          />
          <p>Webtoon</p>
        </div>
        <div class="interactive-video-exp hover-effect" >
          <img
            class="interactive-img"
            src="assets/landing-page/temp/bg_interactive_example.png"
            alt=""
          />
          <p>Interactive Video</p>
        </div>
      <div class="climate-escape-exp hover-effect">
        <a routerLink="/games">
          <img
          class="climate-img "
          src="assets/background/climate-escape-background.png"
          alt=""
        >
        </a>
        <p>Play Climate Escape</p>
      </div>
    </div>
  </section>

  <section>
    <div class="parallax-div4">
      <img
        class="parallax-4"
        src="assets/landing-page/CC2_01.jpg"
        alt="Temporary parallax image"
      />
      <img
        class="parallax-4-1"
        src="assets/landing-page/CC2_02.jpg"
        alt="Temporary parallax image"
      />
    </div>
  </section>
</body>
<footer>
  <app-footer></app-footer>
</footer>
