<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ecotopia: MAAfia's Team</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <div class="parent">
        <div class="sub-left">

          <div class="about-maafia">
            <p>About Artisan</p>
          </div>

          <div class="artisan">

            <div class="logo">
              <img src="assets/webtoonpics/logo.png" alt="Logo of Artisan">
            </div>

            <div class="email">
              <p>karx@ecotopia.com</p>
            </div>

            <div class="address">
              <br>
              <p>551 M.F. Jhocson St. Sampaloc, Manila, PH 1008</p>
            </div>

          </div>

          <div class="objectives">
            <h2>Objectives</h2>
            <div class="sub-objective">
              <div class="objective-1">
                <img src="assets/teamimages/objective/example_objective_1.png" alt="">
                <p>interactive, and immersive multimedia elements</p>
              </div>
              <div class="objective-1">
                <img src="assets/teamimages/objective/example_objective_2.png" alt="">
                <p>Assessment module</p>
              </div>
              <div class="objective-1">
                <img src="assets/teamimages/objective/example_objective_3.png" alt="">
                <p>Admin module.</p>
              </div>
              <div class="objective-1">
                <img src="assets/teamimages/objective/example_objective_4.png" alt="">
                <p>Mini arcade game module</p>
              </div>
            </div>
            
          </div>

          <div class="partners">
            <div>
              <h2>Partners</h2>
            </div>
            <div class="partners-logos">
              <div class="nu-ccit">
                <img src="assets/logo/ccit_logo.jpg" alt="Logo of National University College of Computing and Information Technology">
              </div>
              <div class="sm-care">
                <img src="assets/logo/SMCareslogoblue2x.png" alt="Logo of SM Care" width="150px">
              </div>

            </div>

          </div>
        </div>

        <div class="sub-right">
          <div class="the-team">
            <div class="texts" data-aos="fade-up" data-aos-duration="1000">
              <div class="the-team-name">
                <h1>Artisan</h1>
              </div>
              <div class="the-team-description">
                <p>
                  Welcome to Artisan, a dedicated and talented team of individuals
                  enrolled in the BSIT-MAA. Our team consists of four passionate members
                  who have come together to develop a Parallax Website with a
                  educational webtoon comics centered around the critical issue of
                  climate change and pollutions.
                  At Artisan, our primary goal is to deliver quality in
                  everything we create. Led by the Capstone Adviser, Ryan Richard H. Guadana, 
                  a visionary team leader, we ensure that our project maintains high 
                  standards of exellence. His leadership skills drive our team's 
                  productivity and overall success.
                 
                  Together, as the Artisan group, we are committed to making a
                  positive impact by raising awareness about climate change through our
                  Parallax website and Webtoon. We strive to provide an
                  exceptional user experience while educating and motivating users to
                  take action towards a more sustainable future. 
                  <br>
                  <br>
                  Join us on this journeys we combine our skills, knowledge, and passion to make a difference
                  in the world. Together, we can create a better tomorrow.
                </p>
              </div>
            </div>
      
            <div class="profiles">
              <section class="about" data-aos="fade-up" data-aos-duration="1000">
                <div class="content">
                  <div class="content-left color1">
                    <img src="assets/webtoonpics/diane.png" alt="Diane's image" />
                  </div>
                  <div class="content-right color1">
                    <h1>Diane Audrey Ogilve</h1>
                    <h5>Background Artist</h5>
                    <br>
                    <p>
                      I'm a third-year college student at National University - Manila,
                      currently pursuing a degree in BSIT-MAA. Although my course is
                      specializing into graphics, I'm determined to become a developer.
                      I love learning about different technologies, and I can
                      confidently say that I can handle pretty much anything if given
                      enough time. Math, networking, algorithms, hardware and philosophy
                      also interest me, so I spend a lot of time reading and watching
                      computer-related stuff. I believe in forming good habits every
                      day, so that when opportunities comes my way, I'm ready to seize
                      them. As Epictetus said, "If you want to be beautiful, you have to
                      make beautiful choices."
                    </p>
                  </div>
                </div>
              </section>

              <section class="about" data-aos="fade-up" data-aos-duration="1000">
                <div class="content">
                  <div class="content-right color2">
                    <h1>Leo Paragatos</h1>
                    <h5>Colorist</h5>
                    <br>
                    <p>
                      I'm a third-year college student at National University - Manila,
                      currently pursuing a degree in BSIT-MAA. I am a Front-End
                      developer with a passion for creating user-friendly and responsive
                      websites. I have learned various web technologies and frameworks
                      through my projects in college, where I designed and developed a
                      website for a local business. I enjoy working with HTML, CSS,
                      JavaScript, Bootstrap, and Angular to create modern and dynamic
                      web pages that meet the needs and expectations of the clients and
                      users.
                    </p>
                  </div>
                  <div class="content-left color2">
                    <img src="assets/webtoonpics/leo.jpg" alt="Leo's image" />
                  </div>
                </div>
              </section>
              
              <section class="about" data-aos="fade-up" data-aos-duration="1000">
                <div class="content">
                  <div class="content-left color3">
                    <img src="assets/webtoonpics/eloisa.jpg" alt="Karina's image" />
                  </div>
                  <div class="content-right color3">
                    <h1>Eloisa P. Senga</h1>
                    <h5>Line Artist</h5>
                    <br>
                    <p>
                      I'm a third-year student at National University of Manila pursuing
                      BSIT-MAA. I aspire to be a designer and an artist. I'm currently
                      developing my artistic style through improving my performing arts
                      abilities, and yet I currently appreciate drawing line arts and
                      designing layouts for my personal web portfolio. I firmly believe
                      in the phrase "malayo PA, pero malayo NA," which refers that I'm
                      still far from my dreams, but I'm far enough to be grateful. This
                      is despite the fact that I may have discovered my skills somewhat
                      later in life, I'm still excited to make the leap and refine my
                      skill with the people I'm working with.
                    </p>
                  </div>
                </div>
              </section>
              
              <section class="about" data-aos="fade-up" data-aos-duration="1000">
                <div class="content">
                  <div class="content-right color4">
                    <h1>Jana Alyssa Yac</h1>
                    <h5>Lead Artist / Project Manager</h5>
                    <br>
                    <p>
                      I am a third year IT student at National University and a
                      freelance character artist. I spent most of my years learning to
                      draw, and I am admittedly still a learner. I have experience in
                      cartooning, character illustration, character design and
                      watercolor painting. I create fan-art for games, popular anime
                      shows and series and create original characters outside of
                      fan-content. I aim to expand my experience to background
                      illustration, comics and graphic design.
                    </p>
                  </div>
                  <div class="content-left color4">
                    <img src="assets/webtoonpics/jana.jpg" alt="Jana's image" />
                  </div>
                </div>
              </section>
            </div>
            
          </div>
        </div> 
      </div>
    </main>
    <footer>
      <app-footer></app-footer>
    </footer>
  </body>
</html>
