

<footer>
  <div class="parent">
    <div class="follow-us">
      <div class="follow-text">
        <p>FOLLOW US</p>
      </div>
      <div class="social">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>

      </div>
    </div>

    <div class="sitemap">
      <a routerLink="">HOME</a>  | 
      <a routerLink="webtoon">WEBTOON</a>  |
      <a routerLink="aboutus">ABOUT US</a>  
    </div>

    <div class="copyright">
      <p>COPYRIGHT 2023</p>
    </div>
  </div>
</footer>
       

